.the-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  align-items: center;
  margin-bottom: 5rem;

  &__logo {
    width: 160px;
  }
  &__logout {
    text-decoration: none;
    color: #212121;
    font-weight: bold;
  }
}
