.the-header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  align-items: center;

  &__logo {
    width: 160px;
  }
  &__logout {
    text-decoration: none;
    color: #212121;
    font-weight: bold;
  }
}
