.modal {
  background-color: rgba(245, 245, 245, 0.753);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.4rem;

  &__card {
    background-color: #fff;
    min-height: 10rem;
    min-width: 55rem;
    padding: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .close {
      float: right;
    }
    h2,
    p {
      margin-bottom: 3rem;
    }
  }
  &__card-naver {
    min-width: 80rem;
    // min-height: 44rem;
    padding: 0;
    .close {
      margin: 1rem;
    }
  }
  .delete-modal__btns-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 4rem;
    button {
      background-color: #6600ca;
      color: #fff;
      border: none;
      padding: 1rem 7rem;
      font-weight: bold;
      border-radius: 0;
      margin-left: 2rem;
    }
    .btn-border {
      background: none;
      color: #444;
      border: 1px solid #6600ca;
      &:hover {
        background-color: #6600ca;
        color: #fff;
      }
    }
  }
}
